.container {
    width: 600px;
    height: 600px;
    padding: 30px;
    margin: 80px auto;
}

input {
    border: none;
    outline: none;
    padding: 5px;
}

input:focus {
    background-color: #fafafa;
}

button {
    border: none;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fafafa;
}

button:active {
    background-color: #f0f0f0;
}