@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    color: #121212;
    font-size: 14px;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("/img/img8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Humanbumsuk';
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}